# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/build/static/js/main.7cbaddd3.js.map
frontend/build/static/js/main.7cbaddd3.js.LICENSE.txt
frontend/build/static/js/main.7cbaddd3.js
frontend/build/static/js/787.cda612ba.chunk.js.map
frontend/build/static/js/787.cda612ba.chunk.js
frontend/build/static/css/main.7eebc124.css.map
frontend/build/static/css/main.7eebc124.css
frontend/build/robots.txt
frontend/build/asset-manifest.json
frontend/build/favicon.ico
frontend/build/index.html
frontend/build/logo192.png
frontend/build/logo512.png
frontend/build/manifest.json
